*{box-sizing: border-box;
}

header{
    background: #FDC734;
}

h1{
    font-size: 4em;
}
h2,h3{
    font-size: 2em;
}
p{
    font-size: 1.4em;
    text-align: justify;
}
footer{
    font-size: 0.8em;
    
}
main{
    margin: auto;
    padding: 0 2em;
}
article{
    background-color: #FDC734;
    margin: auto;
    max-width: 50em;
    padding: 1em;
    border: 0.5em solid #0C2A67;
    
}
section{
    max-width: 20em;
    display: inline-block;
    background-color: #FDC734;
    padding: 1em;
    border: 0.5em solid #0C2A67;
}